  <%= form_with(model: @article, url: articles_path, method: :post) do |f| %>
  
    <div class="form-group">
      <%= f.label :title, class: 'font-weight-bold d-flex' %>
      <%= f.text_field :title, autofocus: true, autocomplete: "title", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :body, class: 'font-weight-bold d-flex' %>
      <%= f.text_area :body, autocomplete: "body", class: 'form-control' %>
    </div>

    <%= f.fields_for :articles_categories do |ff| %>
      <div class="form-group">
        <%= ff.label :category_id, class: 'font-weight-bold d-flex' %>
        <%= ff.select :category_id, options_for_select(@categories), {}, { required: 'true', autofocus: 'true', class: 'form-control'} %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :image, class: 'font-weight-bold d-flex' %>
      <%= f.file_field :image, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.submit %>
    </div>

  <% end %>