<%= form_with(model: @article, url: articles_path, method: :post) do |f| %>
<!--
  <% if @article.errors.any? %>
    <% @article.errors.each do |error| %>
      <%= "Error: #{error}" %>
    <% end %>  
  <% end %>
-->
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, autofocus: true, autocomplete: "title" %>
  </div>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, autocomplete: "body" %>
  </div>

  <div class="field">
    <%= f.label :category %><br>
    <%= f.select(:category_id, options_for_select(@categories)) %>
  </div>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.submit %>
  </div>

<% end %>