<div class="container">
  <h1 class="display-2 text-center"><%= @article.title %></h1><br>

  <% if signed_in? && !current_user.votes.find_by(article_id: @article.id) %>
    <%= form_with model: @vote, method: :post, url: votes_path do |f| %>
    <%= f.hidden_field :article_id, :value => params[:id] %> 
    <%= f.submit 'Upvote this Article', class: 'read-more-link text-decoration-none small d-inline-block' %>
    <p class='d-inline-block'>Votes: <%= @article.votes.count %>.</p>
    <br><br><br><% end %>
  <% else %>
    <p>Votes: <%= @article.votes.count %>.
  <% end %>
  <p>Category: <%= @article.category.name %></p><br>
  <p class="text"><%= @article.body %></p><br>
  <br><br>

  <% if @article.image.attached? %>
   <%= image_tag @article.image %>
  <% end %>
  
</div>