<div class="container">
  <h1 class="display-2 text-center"><%= @article.title %></h1><br>
  <p class="text"><%= @article.body %></p><br>
  <p>Category: <%= @article.category.name %></p><br>
  <br><br>

  <p>Image: </p>
  <% if @article.image.attached? %>
   <%= image_tag @article.image %>
  <% end %>
  
  <% if signed_in? && !current_user.votes.find_by(article_id: @article.id) %>
    <p>Votes: <%= @article.votes.count %>.
    <%= form_with model: @vote, method: :post, url: votes_path do |f| %>
    <%= f.hidden_field :article_id, :value => params[:id] %> 
    <%= f.submit 'Upvote this Article', class: 'btn btn-success' %><br><br><br><% end %>
  <% else %>
    <p>Votes: <%= @article.votes.count %>.
  <% end %>
</div>